.letter {
  background-color: #EBEBFC;
  color: #6363db;

  width: 3.37rem;
  height: 3.37rem;
  border-radius: 0.62rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.letterSmall {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 0.43rem;

  font-size: 1.25rem;
  font-weight: 500;
  border: 1px solid #6363db;
}

.letterCorrect {
  background-color: #E1F5EC;
  color: #03AB4F;
  border-color: #03AB4F;
}

.letterWrong {
  background-color: #FFCF62;
  color: #000000;
  border-color: #691B0A;
}
